[submodule "BitDepthVisualizer"]
	path = BitDepthVisualizer
	url = https://github.com/jgaugustine/BitDepthVisualizer.git
[submodule "PhotonSimulation"]
	path = PhotonSimulation
	url = https://github.com/jgaugustine/PhotonSimulation.git
[submodule "PhotoLab"]
	path = PhotonSimulation
	url = https://github.com/jgaugustine/cp-photolab.git
